<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-supplier" class="border-shadow">
                    <span class="text-gradient">New Supplier <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/supplier" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                                   
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Telephone</th>
                                    <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('./include/_show') %>
                    </tbody>
                </table>
            </form>
            <br>
            <div class="box-nav d-flex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient">Home <i class="fas fa-user"></i></span>
                </a>
            </div>
        </div>
    </main>
<!-- /Main Site -->




<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->